@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --ver: #A6333D;
    --cin: #A4A5A6;
}
body{
    background-color: var(--cin);
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 50px;
    padding-bottom: 20px;

}

/* cabeçalho */

div.header{
    background-color: #A6333D;
}
div#redes{
    display: flex;
    max-width: 1000px;
    height: 70px;
    margin: auto;
    background-color: #A6333D;
    color: white;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
div#redes>a{
    display: inline;
}
div#redes>a>img{
    width: 90px;
    height: 60px;

    flex-grow: 1;
}
.h1head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    flex-grow: 1;
}

/* menu de redes sociais */

div#redes>nav{
    max-width: 120px;
    min-width: 90px;
    flex-grow: 1;
}
.contato{
    width: 17px;
    border-radius: 50%;
    padding: 5px;
}
.contato:hover{
    transform: translate(-2px,-2px);
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.295);
    transition: transform 0.1s, border 0.1s;
}

/* banner */

.banner{
    display: flex;
    background-image: url('../imagens/banner.jpg');
    background-size: cover;
    background-position: center;
    max-width: 1000px;
    min-width: 300px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.281);
    margin: auto;
    padding: 20px;
    align-items: center;
}
.banner>h1,h2,h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.banner>h1{

    font-size: 3em;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.342);
}
.banner>h2{

    font-size: 1.9em;
    padding-bottom: 20px;
    font-weight: 800;
}
.banner>h3{

    font-weight: 300;

}
.quem{
    font-family: Arial, Helvetica, sans-serif;

}
.quem>p>a{
    color: #A6333D;
    font-weight: bolder;
    text-decoration: none;
}
.porque{
    padding: 20px 0px 40px 0px;
}
.divisao{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 1020px;
    height: 95px;
    background-color: #A6333D;
    color: white;
    font-family:'Montserrat', sans-serif;
    font-size: 2.3em;
    justify-content: center;
    margin: 0px -20px 40px -20px
    
}
.porque>ul{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
.porque>ul>li{
    padding-bottom: 20px;
}

/* DESCRIÇÃO DOS PRODUTOS */

.produtos{
    margin-bottom: 40px;
}
.summary{
    color: #A6333D;
    font-family:'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0px 20px 0px
}
.summary:hover{
    text-decoration: underline;
    cursor: pointer;
}
.produtos>details>p{
    padding-bottom: 10px;
}

/* video */

aside>details>summary>h3{

    color: #A6333D;
    font-size: 1.3em;
    padding: 10px;
    margin: 30px -20px 30px -20px;
    border-radius: 10px 10px 10px 10px;
}
aside>details>summary{
    text-align: center;
    list-style-type: none;
    
}
aside>details>summary:hover{
    color: #A6333D;
    text-decoration: underline;
    cursor: pointer;
}
div.video{
    background-color: #757575;
    border-radius: 10px 10px 10px 10px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 57%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;